<footer class="container-fluid text-center">
  <a href="https://www.facebook.com/Andhikasm"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a>
  <a href="https://www.instagram.com/andhika.sm/"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
  <a href="https://www.freecodecamp.com/andhikasm"><i class="fa fa-free-code-camp fa-2x" aria-hidden="true"></i></a>
  <a href="https://www.github.com/Andhikasm"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
  <a href="https://uk.linkedin.com/in/asrimadeva2"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
</footer>