<div id="experience" class="container-fluid text-center">
    <div class="row">
        <h2>Experience</h2>
        <br>
    </div>
    <div class="row text-left">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="media">
                <div class="media-left">
                    <a href="http://www.kcl.ac.uk">
                        <img src="../assets/images/kcl-icon.jpg" class="media-object" style="width:50px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Undergraduate Research Fellow (June 2017 - August 2017)</h4>

                    <p>A 2 month work experience that involves working alongside an academic on a research project. The project
                        was exploratory and uncommon. And I have become more adaptable in learning new tools and technologies
                        as a result of this experience.</p>
                    <mat-card>
                        <mat-card-subtitle>
                            <b>Dr Steffen Zschaler</b>
                        </mat-card-subtitle>
                        <mat-card-content>"Andhika worked with me as an undergraduate research fellow, developing an experimental high-level
                            language for configuring software-defined networks. During his 8-week fellowship, he independently
                            worked his way into a range of new technologies (ranging from FlowVisor for SDNs to Xtext for
                            developing language workbenches) and was able to produce a good exploratory prototype for our
                            research. I enjoyed his enthusiasm for the work, his self-directed way of working and good understanding
                            of technical concepts."</mat-card-content>
                    </mat-card>

                </div>

            </div>
            <br>
            <div class="media">
                <div class="media-left">
                    <a href="http://www.kcl.ac.uk">
                        <img src="../assets/images/kcl-icon.jpg" class="media-object" style="width:50px">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Teaching Assistant (September 2017 - Present)</h4>

                    <p>Involves assisting second year students in their Software Engineering lab sessions.</p>

                </div>

            </div>
            <br>
            <div class="media">
                <div class="media-left">
                    <a href="http://www.kcl.ac.uk">
                        <!-- <img src="../assets/images/kcl-icon.jpg" class="media-object" style="width:50px"> -->
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Software Developer (September 2016 - Present)</h4>

                    <p>Worked on an Android social media app</p>

                </div>

            </div>

            <hr>
        </div>
        <div class="col-sm-2"></div>
    </div>

</div>