<div id="skills" class="container-fluid">
  
      <div class="row text-center">
          <h2>Skills</h2><br>
      </div>
      <div class="row text-left">
          <div class="col-sm-2"></div>
          <div class="col-sm-8">
              <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h4>PROGRAMMING</h4>
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                
                  <p>Java - Java is my primary language. I have been building bigger applications with it from my 
                      programming course in university as well as during my spare time. 
                      I am currently learning Android to get the most out of the skill.</p>
                    <p>C++ - C++ was introduced to me during the first week of Practical Experience of Programming(PEP)
                       module in my university. After 7+ weeks of demanding courseworks, 
                       I have really improved my knowledge in the language. 
                       The overall mark of 90+% in the module will justify this.</p>
                    <p>Scala Scala was also introduced during the PEP module. 
                      The language was used mainly for its functional programming style.</p>
                    <p>SQL - I have been using databases during my A Level Applied ICT class. 
                      And I learned SQL (MySQL) during my Database Systems module in my first year. 
                    </p>
                    <p>JavaScript - I have learnt JavaScript for a while. I used it extensively to build (as a group)
                      a web app for my Software Engineering module.
                    </p>
                </mat-expansion-panel>
  
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        <h4>DEVELOPMENT</h4>
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                
                    <p>Android</p>
                    <p>Web (Angular, Node.JS, MongoDB)</p>
                    <p>DSL</p>
                  </mat-expansion-panel>
  
                  <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-panel-title>
                          <h4>IT</h4>
                        </mat-panel-title>
                      </mat-expansion-panel-header>
                  
                      <p>
                          Microsoft Office (Word, Access, Excel)
                        </p>
                    </mat-expansion-panel>
  
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            <h4>MISCELLANEOUS</h4>
                          </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>
                            RESTful API, JUnit, Gradle, Bash, Xtext, Git
                        </p>
                      
                      </mat-expansion-panel>
          
                  <hr>
    
              </div>
              <div class="col-sm-2"></div>
      </div>
  </div>
  