<div id="skills" class="container-fluid">

  <div class="row text-center">
    <h2>Skills</h2>
    <br>
  </div>
  <div class="row text-left">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="media">
        <div class="media-left">
          <a href="http://www.kcl.ac.uk">
            <img src="../assets/images/kcl-icon.jpg" class="media-object" style="width:50px">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            PROGRAMMING
          </h4>
          <p><b>Java, JavaScript, Scala, C++, Xtend</b></p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="http://www.kcl.ac.uk">
            <img src="../assets/images/kcl-icon.jpg" class="media-object" style="width:50px">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            DATABASE
          </h4>
          <p><b>SQL (MySQL), NOSQL(MongoDB, Firebase), Microsoft Access</b></p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="http://www.kcl.ac.uk">
            <img src="../assets/images/kcl-icon.jpg" class="media-object" style="width:50px">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            FRAMEWORKS AND DEVELOPMENT TOOLS
          </h4>
          <p><b>Android, Node.js, Angular, Express.js</b></p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <a href="http://www.kcl.ac.uk">
            <img src="../assets/images/kcl-icon.jpg" class="media-object" style="width:50px">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">
            MISCELLANEOUS
          </h4>
          <p><b>RESTful API, JUnit, Gradle, Bash, Xtext, Git, Microsoft Office (Word, Access, Excel)</b></p>
        </div>
      </div>


      <div class="col-sm-2"></div>
    </div>
  </div>