<div id="home" class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
    
      <!-- <img src="../assets/images/Me2.jpg" class="img-circle" alt="Me"> -->
    </div>
    <div class="col-sm-8">
      <div class="text-center">
        <h2>Andhika Srimadeva</h2><br>
        
        <h4>Motivated, hardworking and goal-oriented third year undergraduate student
           who is on track for a first class degree. I am a keen learner, adaptable
            to different environments, and always able to get jobs done on time.</h4><br>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
           incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p> -->
      </div>
      
        
        <hr>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>