<div id="home" class="container-fluid">
  <div class="row">

    <div class="col-sm-2">
    
      <!-- <img src="../assets/images/Me2.jpg" class="img-circle" alt="Me"> -->
    </div>
    <div class="col-sm-8">
      <div class="text-center">
        <h2>Andhika Srimadeva</h2><br>
        
        <h4>Motivated, hardworking and goal-oriented third year undergraduate student
           who is on track for a first class degree. I am a keen learner, adaptable
            to different environments, and always able to get jobs done on time.</h4><br>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
           incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
            deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod 
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p> -->
      </div>
      
        <mat-card>
          <mat-card-subtitle><b>Dr Steffen Zschaler</b></mat-card-subtitle>
          <mat-card-content>"Andhika worked with me as an undergraduate research fellow, 
            developing an experimental high-level language for configuring software-defined networks. 
            During his 8-week fellowship, he independently worked his way into a range of new technologies
             (ranging from FlowVisor for SDNs to Xtext for developing language workbenches) 
             and was able to produce a good exploratory prototype for our research. 
             I enjoyed his enthusiasm for the work, his self-directed way of working 
             and good understanding of technical concepts."</mat-card-content>
        </mat-card>
        <hr>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>